/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;700&display=swap');
/* VARIABLES */
:root{
    --color-naranja-claro: #F26C4F;
    --color-naranja-intenso: #FF6043;
    --color-negro: #222222;
    --color-gris-oscuro: #262626;
    --color-gris-claro: #818181;
    --color-blanco: #FFFFFF;
    
}
/* SELECTOR UNIVERSAL */
*{
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}
/* ESTILOS GENERALES */
html{
    scroll-behavior: smooth;
}
header{
    background-color: var(--color-negro);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
}
nav{
    display: flex;
    gap: 6rem;
}
a{
    text-decoration: none;
}
h1{
    font-size: 4.5rem;
    color: var(--color-blanco);
}
span{
    color: var(--color-naranja-claro);
}
ul{
    list-style: none;
}
/* FIN ESTILOS GENERALES */

/* HEADER */
nav a{
    color: var(--color-blanco);
    position: relative;
}
nav a::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: var(--color-naranja-claro);
    top: 21px;
    transition: all 250ms;
}
nav a:hover::before{
    width: 50%;
}
.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 4rem 0rem 0.2rem 0rem;
}
.header-izq{
    display: flex;
    align-items: center;
    gap: 6rem;
}
.encabezado button{
    background-color: var(--color-naranja-claro);
    color: var(--color-blanco);
    border: 1px solid var(--color-naranja-claro);
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 1.1rem 2.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 250ms;
}
.encabezado button:hover{
    background-color: transparent;
    color: var(--color-naranja-claro);
}
/* FIN HEADER */

/* HERO */
.section-hero{
    width: 100%;
    background-color: var(--color-negro);
}
.hero{
    width: 80%;
    margin: 6rem auto 0rem;
    display: flex;
    align-items: center;
    padding: 3rem 0rem;
}
.hero-textos{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.hero-textos p{
    color: var(--color-blanco);
    letter-spacing: 0.3rem;
}
.hero-textos button{
    background-color: transparent;
    border: 2px solid var(--color-naranja-claro);
    color: var(--color-naranja-claro);
    padding: 0.6rem 2rem;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 2px;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    transition: all 250ms;
}
.hero-textos button:hover{
    background-color: var(--color-naranja-claro);
    color: var(--color-blanco);
}
.hero-imagen{
    flex-basis: 30%;
    position: relative;
    z-index: 3;
}
.hero-imagen img{
    width: 23.5rem;
    height: 38.5rem;
}
.imagen-fondo{
    position: absolute;
    background-color: #FF6044;   
                   /* border-radius: 44% 56% 10% 90% / 39% 52% 48% 61%; */ /* POSIBLES */
                   /* border-radius: 44% 56% 10% 90% / 39% 63% 37% 61%; */ /* POSIBLES */
    border-radius: 51% 49% 10% 90% / 38% 63% 37% 62%; /* DEFINITIVO */
    height: 23.6rem;
    width: 29rem;
    top: 14rem;
    right: 3rem;
    z-index:-1;
    transform: rotate(2deg);
}
.redes-hero{
    flex: 10%;
}
.redes-hero ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3rem;
}
.redes-hero li{
    transition: all 250ms;
}
.redes-hero li:hover{
    cursor: pointer;
    filter:drop-shadow(0px 0px 10px var(--color-naranja-claro));
}
.redes-hero i{
    background-color: var(--color-blanco);
    border-radius: 50%;
    padding: 0.4rem 0.6rem;
    font-size: 1.5rem;
}
.redes-hero img{
    background-color: var(--color-blanco);
    border-radius: 50%;
    padding: 0.5rem 0.6rem;
    width: 24px;
    height: 24px;
}
/* FIN HERO */

/* SOBRE MI */
.sobre-mi{
    width: 100%;
    background-color: var(--color-gris-oscuro);
    padding: 3rem 0rem;
}
.about-me{
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0rem;
}
.img-sobremi{
    flex-basis: 30%;
}
.about-me img{
    background-color: var(--color-naranja-claro);
    border-radius: 50%;
    width: 24rem;
}
.sobremi-textos{
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.sobremi-textos button{
    width: fit-content;
}
.sobremi-textos h2{
    color: var(--color-blanco);
    position: relative;
    font-size: 1.8rem;
    letter-spacing: 1px;
}
.sobremi-textos h2::before{
    content: "";
    position: absolute;
    width: 22px;
    height: 4px;
    background-color: var(--color-naranja-claro);
    top: 2.3rem;
}
.parrafo-naranja{
    color: var(--color-naranja-claro);
    font-weight: 600;
    font-size: 1.1rem;
}
.sobremi-textos p{
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--color-gris-claro);
}
.sobremi-textos button{
    background-color: var(--color-naranja-claro);
    color: var(--color-blanco);
    border: 1px solid var(--color-naranja-claro);
    font-family: 'Urbanist', sans-serif;
    padding: 1.1rem 2.5rem;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 250ms;
}
.sobremi-textos button:hover{
    background-color: transparent;
    color: var(--color-naranja-claro);
}
/* FIN SOBRE MI */

/* MIS SERVICIOS */
.mis-servicios{
    width: 100%;
    background-color: var(--color-negro);
    padding: 4rem 0rem;
}
.my-services{
    margin: 0 auto;
    width: 80%;
}
.my-services h2{
    color: var(--color-blanco);
    margin-bottom: 3rem;
    font-size: 1.8rem;
    position: relative;
}
.my-services h2::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 4px;
    background-color: var(--color-naranja-claro);
    top: 2.5rem;
}
.servicios{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-gris-oscuro);
    flex-basis: 33%;
    border-radius: 10px;
    gap: 2rem;
    padding: 1rem 0.5rem 5rem;
    transition: all 250ms;
    cursor: pointer;
}
.servicio h3{
    color: var(--color-blanco);
    font-size: 1.5rem;
}
.servicio p{
    color: var(--color-gris-claro);
    margin-top: 0.5rem;
    font-size: 1.1rem;
}
.svg-blanco{
    display: none;
}
.servicio:hover{
    background-color: var(--color-naranja-claro);
}
.web:hover .svg-blanco,
.ux-ui:hover .svg-blanco,
.branding:hover .svg-blanco{
    display: block;
}
.web:hover .svg-naranja,
.ux-ui:hover .svg-naranja,
.branding:hover .svg-naranja{
    display: none;
}
.servicio:hover img,
.servicio:hover p{
    color: var(--color-blanco);
}
.servicio img{
    width: 7rem;
    height: 7rem;
}
.servicios-textos{
    width: 80%;
}
/* FIN MIS SERVICIOS */

/* MI PORTFOLIO */
.mi-portfolio{
    width: 100%;
    background-color: var(--color-negro);
}
.my-portfolio{
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0rem;
}
.my-portfolio h2{
    color: var(--color-blanco);
    position: relative;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}
.my-portfolio h2::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 4px;
    background-color: var(--color-naranja-claro);
    top: 2.5rem;
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.ejemplo{
    position: relative;
    overflow: hidden;
}
.portfolio img{
    width: 752px;
    height: 330px;
    border-radius: 10px;
    object-fit: cover;
}
.fondo-img{
    position: absolute;
    color: var(--color-blanco);
    background-color: var(--color-gris-oscuro);
    width: 47.3rem;
    height: 20.8rem;
    border-radius: 10px;
    top: 0rem;
    opacity: 0.8;
    transform: scale(1);
    transform-origin: right;
    cursor: pointer;
    transition: all 350ms;
}
.sobre-img{
    position: absolute;
    color: var(--color-blanco);
    background-color: transparent;
    width: 47.15rem;
    height: 20.6rem;
    border-radius: 10px;
    top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform: scale(1);
    transform-origin: right;
    cursor: pointer;
    transition: all 350ms;
}
.ejemplo:hover .fondo-img,
.ejemplo:hover .sobre-img{
    transform: translateX(50rem);
}
.sobre-img p{
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 2px;
}
.circulos{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.circulos span{
    border: 2px solid var(--color-naranja-claro);
    border-radius: 50%;
    background-color: transparent;
    height: 1.2rem;
    width: 1.2rem;
    margin-top: 3rem;
    cursor: pointer;
}
.circulos span:first-child{
    background-color: var(--color-naranja-claro);
}
.circulos span:hover{
    background-color: var(--color-naranja-claro);
}
/* FIN PORTFOLIO */

/* CONTACTO */
.contacto{
    background-color: var(--color-naranja-claro);
    width: 100%;
    padding: 5rem 0rem;
}
.contact{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
}
.contacto-der{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contacto-titulo h2{
    color: var(--color-blanco);
    font-size: 2.5rem;
    width: 80%;
}
.contacto-titulo span{
    color: var(--color-gris-oscuro);
}
.contactos{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: flex-start;
    margin-top: 0.9rem;
}
.medio-contacto{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.medio-contacto a,
.medio-contacto p,
.medio-contacto i{
    color: var(--color-blanco);
    font-size: 1.1rem;
    font-weight: 500;
}
.contacto-redes{
    display: flex;
    gap: 1.7rem;
    margin-top: 2.5rem;
}
.contacto-redes a{
    color: var(--color-naranja-claro);
    background-color: var(--color-negro);
    border-radius: 50%;
    padding: 0.6rem 0.69rem;
    font-size: 1.5rem;
    border: 1px solid var(--color-negro);
    transition: all 250ms;
}
.contacto-redes i{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms;
}
.contacto-redes a:hover,
.contacto-redes a:hover i{
    color: var(--color-negro);
    background-color: transparent;
}

.contacto-izq{
    flex-basis: 60%;
    box-shadow: 0px 1px 3px var(--color-gris-claro);
    border-radius: 5px;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    padding: 1rem 0.2rem;
}
input{
    padding: 1.2rem 0.6rem;
    border: none;
    border-radius: 5px;
    width: 90%;
    color: var(--color-naranja-claro);
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
}
input::placeholder{
    color: var(--color-naranja-claro);
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}

textarea{
    padding: 0.6rem 0.6rem;
    border: none;
    border-radius: 5px;
    width: 90%;
    resize: none;
}
textarea::placeholder{
    color: var(--color-naranja-claro);
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}
.contacto-izq button{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    background-color: transparent;
    border: 1px solid var(--color-blanco);
    color: var(--color-blanco);
    font-family: 'Urbanist', sans-serif;
    padding: 0.65rem 2.3rem;
    border-radius: 5px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 1.2rem 2.2rem 0.3rem 0rem;
    transition: all 250ms;
    cursor: pointer;
}
.contacto-izq button:hover{
    color: var(--color-naranja-claro);
    background-color: var(--color-blanco);
}
/* FIN CONTACTO */

/* FOOTER */
footer{
    background-color: var(--color-negro);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
footer p{
    color: var(--color-blanco);
}
/* FIN FOOTER */