/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;700&display=swap');
/* VARIABLES */
:root{
    --color-naranja-claro: #F26C4F;
    --color-naranja-intenso: #FF6043;
    --color-negro: #222222;
    --color-gris-oscuro: #262626;
    --color-gris-claro: #818181;
    --color-blanco: #FFFFFF;
    
}
/* SELECTOR UNIVERSAL */
*{
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}
/* ESTILOS GENERALES */
html{
    scroll-behavior: smooth;
}
header{
    background-color: var(--color-negro);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
}
nav{
    display: flex;
    gap: 6rem;
}
a{
    text-decoration: none;
    color: var(--color-negro);
}
h1{
    font-size: 4.5rem;
    color: var(--color-blanco);
}
span{
    color: var(--color-naranja-claro);
}
ul{
    list-style: none;
}
/* FIN ESTILOS GENERALES */

/* HEADER */
nav a{
    color: var(--color-blanco);
    position: relative;
}
nav a::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: var(--color-naranja-claro);
    top: 21px;
    transition: all 250ms;
}
nav a:hover::before{
    width: 50%;
}
.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 4rem 0rem 0.2rem 0rem;
}
.header-izq{
    display: flex;
    align-items: center;
    gap: 6rem;
}
.encabezado button{
    background-color: var(--color-naranja-claro);
    color: var(--color-blanco);
    border: 1px solid var(--color-naranja-claro);
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 1.1rem 2.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 250ms;
}
.encabezado button:hover{
    background-color: transparent;
    color: var(--color-naranja-claro);
}
.menu-responsive{
    display: none;
}
.menu-responsive i{
    color: var(--color-naranja-claro);
    font-size: 2.7rem;
}
/* FIN HEADER */

/* MEDIA-QUERIES HEADER */
@media (max-width:1116px) {
    nav a{
        font-size: 0.9rem;
    }
    .encabezado button{
        padding: 0.9rem 2rem;
        font-size: 0.9rem;
    }
}
@media (max-width: 1290px) {
    nav{
        gap: 5rem;
    }
    .header-izq{
        gap: 5rem;
    }
}
@media (max-width: 1146px) {
    nav{
        gap: 4.5rem;
    }
}
@media (max-width:1079px){
    nav{
        gap: 4rem;
    }
    .header-izq{
        gap: 4rem;
    }
}
/* TABLET */
@media (max-width:1023px) {
    nav{
        display: none;
    }
    .encabezado button{
        display: none;
    }
    .menu-responsive{
        display: block;
        cursor: pointer;
    }
}
@media (max-width:890px){
    .encabezado{
        width: 92%;
    }
}
/* FIN TABLET */
/* CELULAR */
@media (max-width: 376px) {
    .encabezado{
        width: 98%;
    }
}
/* FIN CELULAR */
/* FINMEDIA-QUERIES HEADER */
/* HERO */
.section-hero{
    width: 100%;
    background-color: var(--color-negro);
}
.hero{
    width: 80%;
    margin: 6rem auto 0rem;
    display: flex;
    align-items: center;
    padding: 3rem 0rem;
}
.hero-textos{
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.hero-textos p{
    color: var(--color-blanco);
    letter-spacing: 0.3rem;
}
.hero-textos button{
    background-color: transparent;
    border: 2px solid var(--color-naranja-claro);
    color: var(--color-naranja-claro);
    padding: 0.6rem 2rem;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 2px;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    transition: all 250ms;
}
.hero-textos button:hover{
    background-color: var(--color-naranja-claro);
    color: var(--color-blanco);
}
.hero-imagen{
    flex-basis: 35%;
    position: relative;
    z-index: 3;
}
.hero-imagen img{
    width: 31rem;
    height: 39rem;
}
.imagen-fondo{
    position: absolute;
    background-color: #FF6044;   
                   /* border-radius: 44% 56% 10% 90% / 39% 52% 48% 61%; */ /* POSIBLES */
                   /* border-radius: 44% 56% 10% 90% / 39% 63% 37% 61%; */ /* POSIBLES */
    border-radius: 51% 49% 10% 90% / 38% 63% 37% 62%; /* DEFINITIVO */
    height: 23.6rem;
    width: 29.6rem;
    top: 14.53rem;
    right: 7rem;
    z-index:-1;
    transform: rotate(1.7deg);
}
.redes-hero{
    flex: 10%;
}
.redes-hero ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3rem;
}
.redes-hero li{
    transition: all 250ms;
}
.redes-hero li:hover{
    cursor: pointer;
    filter:drop-shadow(0px 0px 10px var(--color-naranja-claro));
}
.redes-hero i{
    background-color: var(--color-blanco);
    border-radius: 50%;
    padding: 0.4rem 0.6rem;
    font-size: 1.5rem;
}
.redes-hero img{
    background-color: var(--color-blanco);
    border-radius: 50%;
    padding: 0.5rem 0.6rem;
    width: 24px;
    height: 24px;
}
/* FIN HERO */
/* MEDIA-QUERIES HERO */
@media (max-width:1668px){
    h1{
        font-size: 4rem;
    }
}
@media (max-width:1551px){
    .hero-imagen img{
        width: 26rem;
        height: 33rem;
    }
}
@media (max-width:1451px){
    h1{
        font-size: 3.6rem;
    }
}
@media (max-width:1358px){
    .hero-imagen img{
        width: 22rem;
        height: 28rem;
    }
}
@media (max-width:1290px) {
    h1{
        font-size: 3.2rem;
    }
}
@media (max-width:1194px) {
    .hero-imagen img{
        width: 19rem;
        height: 25rem;
    }
}
@media (max-width:1146px) {
    h1{
        font-size: 2.9rem;
    }
    .hero-textos p{
        font-size: 0.8rem;
    }
}
@media (max-width:1079px){
    h1{
        font-size: 2.6rem;
    }
    .hero-textos p{
        font-size: 0.7rem;
    }
}
/* TABLET */
@media (max-width:1023px) {
    br{
        display: none;
    }
    .hero{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3rem;
        padding: 6rem 0rem 2rem;
    }
    .hero-textos h1{
        width: 80%;
        align-self: center;
        font-size: 4.2rem;
    }
    .hero-textos p{
        font-size: 1rem;
    }
    .hero-textos button{
        align-self: center;
        padding: 0.8rem 2.5rem;
        font-size: 1rem;
    }
    .hero-imagen img{
            width: 26rem;
            height: 32rem;
    }
    .redes-hero ul{
        flex-direction: row;
    }
    .redes-hero i{
        font-size: 1.8rem;
    }
}
@media (max-width:980px){
    .hero-textos h1{
        width: 100%;
    }
}
/* FIN TABLET */

/* CELULAR */
@media (max-width:784px){
    .hero-textos h1{
        font-size: 3.4rem;
    }
    .hero-textos p{
        font-size: 0.8rem;
    }
}
@media (max-width:635px){
    .hero-textos h1{
        font-size: 3rem;
    }
    .hero-textos p{
        font-size: 0.75rem;
        letter-spacing: 3px;
    }
    .hero-textos button{
        padding: 0.6rem 1.6rem;
        font-size: 0.9rem;
    }
}
@media (max-width:560px) {
    .hero{
        width: 90%;
    }
    .hero-textos h1{
        font-size: 2.8rem;
    }
}
@media (max-width:470px) {
    .hero-textos h1{
        font-size: 2.6rem;
    }
    .hero-textos p{
        font-size: 0.7rem;
        letter-spacing: 3px;
    }
    .hero-imagen img{
        width: 22rem;
        height: 27rem;
    }
}
@media (max-width: 431px){
    .hero-textos h1{
        font-size: 2.4rem;
    }
    .hero-textos p{
        font-size: 0.7rem;
        letter-spacing: 2px;
    }
    .redes-hero ul{
        gap: 2rem;
    }
    .redes-hero i{
        font-size: 1.6rem;
    }
}
@media (max-width:397px){
    .hero-textos{
        gap: 1.3rem;
    }
    .hero-textos h1{
        font-size: 2.1rem;
    }
    .hero-textos p{
        font-size: 0.6rem;
    }
    .hero-imagen img{
        width: 19rem;
        height: 24rem;
    }
    .hero-textos button{
        padding: 0.5rem 1.2rem;
    }
}
@media (max-width: 350px){
    .hero-textos h1{
        font-size: 1.9rem;
    }
    .hero-textos p{
        font-size: 0.7rem;
        letter-spacing: 1px;
    }
}
/* FIN CELULAR */
/* FIN MEDIA-QUERIES HERO */


/* SOBRE MI */
.sobre-mi{
    width: 100%;
    background-color: var(--color-gris-oscuro);
    padding: 3rem 0rem;
}
.about-me{
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0rem;
}
.img-sobremi{
    flex-basis: 30%;
}
.about-me img{
    background-color: var(--color-naranja-claro);
    border-radius: 50%;
    width: 24rem;
}
.sobremi-textos{
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.sobremi-textos button{
    width: fit-content;
}
.sobremi-textos h2{
    color: var(--color-blanco);
    position: relative;
    font-size: 1.8rem;
    letter-spacing: 1px;
}
.sobremi-textos h2::before{
    content: "";
    position: absolute;
    width: 22px;
    height: 4px;
    background-color: var(--color-naranja-claro);
    top: 2.6rem;
}
.parrafo-naranja{
    color: var(--color-naranja-claro);
    font-weight: 600;
    font-size: 1.1rem;
}
.sobremi-textos p{
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--color-gris-claro);
}
.sobremi-textos button{
    background-color: var(--color-naranja-claro);
    color: var(--color-blanco);
    border: 1px solid var(--color-naranja-claro);
    font-family: 'Urbanist', sans-serif;
    padding: 1.1rem 2.5rem;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 250ms;
}
.sobremi-textos button:hover{
    background-color: transparent;
    color: var(--color-naranja-claro);
}
/* FIN SOBRE MI */

/* MEDIA-QUERIES SOBRE-MI */

@media (max-width:1440px) {
    .sobremi-textos{
        gap: 1rem;
        flex-basis: 80%;
    }
    .sobremi-textos p{
        font-size: 1rem;
    }
    .about-me img{
        width: 21rem;
    }
}
@media (max-width:1297px) {
    .sobremi-textos p{
        font-size: 0.85rem;
    }
}
@media (max-width: 1116px) {
    .sobremi-textos button{
        padding: 0.9rem 2rem;
        font-size: 0.9rem;
    }
}
/* TABLET */
@media (max-width:1023px){
    .about-me{
        flex-direction: column;
        align-items: center;
    }
    .about-me img{
        width: 25rem;
    }
    .sobremi-textos h2{
        font-size: 2.2rem;
    }
    .sobremi-textos h2::before{
        top: 3rem;
    }
    .parrafo-naranja{
        font-size: 1.3rem;
    }
    .sobremi-textos p{
        font-size: 1.2rem;
        width: 100%;
    }
}
@media (max-width:980px){
    .sobremi-textos p{
        font-size: 1rem;
    }
}
@media (max-width:890px){
    .about-me{
        width: 92%;
    }
}
/* FIN TABLET */

/* CELULAR */
@media (max-width:563px){
    .parrafo-naranja{
        font-size: 1.1rem;
    }
    .sobremi-textos h2::before{
        top: 2.6rem;
    }
    .sobremi-textos p{
        font-size: 0.9rem;
    }
    
}
@media (max-width:477px){
    .sobremi-textos h2{
        font-size: 2rem;
    }
    .parrafo-naranja{
        font-size: 1rem;
    }
    .sobremi-textos p{
        font-size: 0.85rem;
    }
    .sobremi-textos button{
        padding: 0.9rem 1.8rem;
        font-size: 0.8rem;
    }
    .img-sobremi img{
        width: 22rem;
    }
}
@media (max-width:433px){
    .parrafo-naranja{
        font-size: 0.9rem;
    }
    .sobremi-textos p{
        font-size: 0.75rem;
    }
}
@media (max-width: 431px){
    .sobremi-textos h2 {
    font-size: 2rem;
    }
}
@media (max-width:391px){
    .parrafo-naranja{
        font-size: 0.85rem;
    }
    .img-sobremi img{
        width: 19.5rem;
    }
}
@media (max-width: 376px){
    .about-me{
        width: 98%;
    }
}
@media (max-width: 347px){
    .parrafo-naranja{
        font-size: 0.78rem;
    }
}
/* FIN CELULAR */
/* FIN MEDIA-QUERIES SOBRE-MI */

/* MIS SERVICIOS */
.mis-servicios{
    width: 100%;
    background-color: var(--color-negro);
    padding: 4rem 0rem;
}
.my-services{
    margin: 0 auto;
    width: 80%;
}
.my-services h2{
    color: var(--color-blanco);
    margin-bottom: 3rem;
    font-size: 1.8rem;
    position: relative;
}
.my-services h2::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 4px;
    background-color: var(--color-naranja-claro);
    top: 2.6rem;
}
.servicios{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-gris-oscuro);
    flex-basis: 33%;
    border-radius: 10px;
    gap: 2rem;
    padding: 1rem 0.5rem 5rem;
    width: 20rem;
    height: 19rem;
    transition: all 100ms;
    cursor: pointer;
}
.servicio h3{
    color: var(--color-blanco);
    font-size: 1.5rem;
}
.servicio p{
    color: var(--color-gris-claro);
    margin-top: 0.5rem;
    font-size: 1.1rem;
}
.svg-blanco{
    display: none;
}
.servicio:hover{
    background-color: var(--color-naranja-claro);
}
.branding .svg-blanco,
.branding .svg-naranja{
    transform: rotateY(180deg);
}
.web:hover .svg-blanco,
.ux-ui:hover .svg-blanco,
.branding:hover .svg-blanco{
    display: block;
}
.web:hover .svg-naranja,
.ux-ui:hover .svg-naranja,
.branding:hover .svg-naranja{
    display: none;
}
.servicio:hover img,
.servicio:hover p{
    color: var(--color-blanco);
}
.servicio img{
    width: 7rem;
    height: 7rem;
}
.servicios-textos{
    width: 80%;
}
/* FIN MIS SERVICIOS */

/* MEDIA-QUERIES MIS-SERVICIOS */
@media (max-width:1400px) {
    .servicios-textos{
        width: 90%;
    }
    .servicios-textos p{
        font-size: 1rem;
    }
}
@media(max-width:1138px){
    .servicios-textos{
        width: 98%;
    }
}
/* TABLET */
@media (max-width:1023px) {
    .my-services h2{
        font-size: 2.2rem;
    }
    .my-services h2::before{
        top: 3rem;
    }
    .servicios h3{
        font-size: 1.7rem;
        text-align: center;
    }
    .servicio p{
        font-size: 1.2rem;
        text-align: center;
        width: 100%;
    }
    .servicios{
        flex-wrap: wrap;
        justify-content: center;
        gap: 5rem;
        padding: 2rem 0rem 1rem;
    }
    .servicio{
        flex-basis: 43%;
    }
}
@media (max-width:1000px) {
    .servicio{
        flex-basis: 80%;
        padding: 1rem 0.5rem 3rem;
    }
}
@media (max-width:890px){
    .my-services{
        width: 92%;
    }
}
/* FIN TABLET */

/* CELULAR */
@media (max-width: 477px){
    .my-services h2 {
    font-size: 2rem;
}
}
@media (max-width:426px){
    .servicios{
        gap: 1.5rem;
    }
    .servicio{
        flex-basis: 90%;
    }
    .servicio p{
        font-size: 1.05rem;
    }
}
@media (max-width:376px){
    .my-services{
        width: 98%;
    }
    .servicio h3{
        font-size: 1.5rem;
    }
    .servicio img{
        width: 6rem;
        height: 6rem;
    }
}

/* FIN CELULAR */
/* FIN MEDIA-QUERIES MIS-SERVICIOS */

/* MI PORTFOLIO */
.mi-portfolio{
    width: 100%;
    background-color: var(--color-negro);
}
.my-portfolio{
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0rem;
}
.my-portfolio h2{
    color: var(--color-blanco);
    position: relative;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}
.my-portfolio h2::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 4px;
    background-color: var(--color-naranja-claro);
    top: 2.6rem;
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.ejemplo{
    position: relative;
    overflow: hidden;
}
.portfolio img{
    width: 38vw;
    height: 35.5vh;
    border-radius: 10px;
    object-fit: cover;
}
.fondo-img{
    position: absolute;
    color: var(--color-blanco);
    background-color: var(--color-gris-oscuro);
    width: 38vw;
    height: 35.5vh;
    border-radius: 10px;
    top: 0rem;
    opacity: 0.8;
    transform: scale(1);
    transform-origin: right;
    cursor: pointer;
    transition: all 350ms;
}
.sobre-img{
    position: absolute;
    color: var(--color-blanco);
    background-color: transparent;
    width: 38vw;
    height: 35.5vh;
    border-radius: 10px;
    top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform: scale(1);
    transform-origin: right;
    cursor: pointer;
    transition: all 350ms;
}
.ejemplo:hover .fondo-img,
.ejemplo:hover .sobre-img{
    transform: translateX(50rem);
}
.sobre-img p{
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 2px;
}
.circulos{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.circulos span{
    border: 2px solid var(--color-naranja-claro);
    border-radius: 50%;
    background-color: transparent;
    height: 1.2rem;
    width: 1.2rem;
    margin-top: 3rem;
    cursor: pointer;
}
.circulos span:first-child{
    background-color: var(--color-naranja-claro);
}
.circulos span:hover{
    background-color: var(--color-naranja-claro);
}
/* FIN PORTFOLIO */

/* MEDIA-QUERIES PORTFOLIO */
@media (max-width:1650px) {
    .portfolio img,
    .fondo-img,
    .sobre-img{
        height: 33vh;
    }
}
@media (max-width:1457px) {
    .portfolio img,
    .fondo-img,
    .sobre-img{
        height: 31vh;
        width: 38vw;
    }
}
@media(max-width:1400px){
    .sobre-img p{
        font-size: 2rem;
    }
}
@media (max-width:1220px) {
    .portfolio img,
    .fondo-img,
    .sobre-img{
        height: 24vh;
        width: 38vw;
    }
}
/* TABLET */
@media(max-width:1023px){
    .my-portfolio h2{
        font-size: 2.2rem;
    }
    .my-portfolio h2::before{
        top: 3rem;
    }
    .portfolio{
        flex-direction: column;
        align-items: center;
        padding: 3rem 0rem 1rem;
    }
    .portfolio img,
    .fondo-img,
    .sobre-img{
        width: 70vw;
        height: 35vh;
    }
    .sobre-img p{
        font-size: 2.5rem;
    }
}
@media (max-width:890px){
    .my-portfolio{
        width: 92%;
    }
}
@media (max-width:898px) {
    .portfolio img,
    .fondo-img,
    .sobre-img{
        width: 80vw;
        height: 31vh;
    }
}
/* FIN TABLET */

/* CELULAR */
@media (max-width:714px){
    .portfolio img,
    .fondo-img,
    .sobre-img{
        height: 25vh;
    }
}
@media (max-width:600px){
    .sobre-img p{
        font-size: 2rem;
    }
}
@media (max-width:553px){
    .portfolio img,
    .fondo-img,
    .sobre-img{
        width: 90vw;
        height: 23.5vh;
    }
    .sobre-img p{
        font-size: 1.9rem;
    }
}
@media (max-width: 477px){
    .my-portfolio h2 {
    font-size: 2rem;
}
}
@media (max-width:401px){
    .portfolio img,
    .fondo-img,
    .sobre-img{
        height: 20vh;
    }
    .sobre-img p{
        font-size: 1.5rem;
    }
}
@media (max-width:376px){
    .my-portfolio{
        width: 98%;
    }
    .my-portfolio h2{
        margin-bottom: 1rem;
    }
    .portfolio img,
    .fondo-img,
    .sobre-img{
        width: 95vw;
    }
}
/* FIN CELULAR */
/* FIN MEDIA-QUERIES PORTFOLIO */
/* CONTACTO */
.contacto{
    background-color: var(--color-naranja-claro);
    width: 100%;
    padding: 5rem 0rem;
}
.contact{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}
.contacto-der{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contacto-titulo h2{
    color: var(--color-blanco);
    font-size: 2.5rem;
    width: 80%;
}
.contacto-titulo span{
    color: var(--color-gris-oscuro);
}
.contactos{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: flex-start;
    margin-top: 0.9rem;
}
.medio-contacto{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.medio-contacto a,
.medio-contacto p,
.medio-contacto i{
    color: var(--color-blanco);
    font-size: 1.1rem;
    font-weight: 500;
}
.contacto-redes{
    display: flex;
    gap: 1.7rem;
    margin-top: 2.5rem;
}
.contacto-redes a{
    color: var(--color-naranja-claro);
    background-color: var(--color-negro);
    border-radius: 50%;
    padding: 0.6rem 0.69rem;
    font-size: 1.5rem;
    border: 1px solid var(--color-negro);
    transition: all 250ms;
}
.contacto-redes i{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms;
}
.contacto-redes a:hover,
.contacto-redes a:hover i{
    color: var(--color-negro);
    background-color: transparent;
}

.contacto-izq{
    flex-basis: 60%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    border-radius: 5px;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    padding: 1.8rem 0.2rem;
}
input{
    padding: 1.2rem 0.6rem;
    border: none;
    border-radius: 5px;
    width: 90%;
    color: var(--color-naranja-claro);
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
}
input::placeholder{
    color: var(--color-naranja-claro);
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}

textarea{
    padding: 0.6rem 0.6rem;
    border: none;
    border-radius: 5px;
    width: 90%;
    resize: none;
}
textarea::placeholder{
    color: var(--color-naranja-claro);
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}
.contacto-izq button{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    background-color: transparent;
    border: 1px solid var(--color-blanco);
    color: var(--color-blanco);
    font-family: 'Urbanist', sans-serif;
    padding: 0.65rem 2.3rem;
    border-radius: 5px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 1.2rem 2.2rem 0.3rem 0rem;
    transition: all 250ms;
    cursor: pointer;
}
.contacto-izq button:hover{
    color: var(--color-naranja-claro);
    background-color: var(--color-blanco);
}
/* FIN CONTACTO */

/* MEDIA-QUERIES CONTACTO */
@media(max-width:1783px){
    .contacto-titulo h2{
        width: 90%;
    }
}
@media(max-width:1585px){
    .contacto-titulo h2{
        font-size: 2.3rem;
        width: 100%;
    }
}
@media (max-width:1368px) {
    .contacto-izq{
        flex-basis: 55%;
    }
}
@media (max-width:1313px){
    .contacto-titulo h2{
        font-size: 2.1rem;
    }
}

@media (max-width:1198px) {
    .formulario{
        padding: 1.3rem 0.2rem;
    }
    .contacto-titulo h2{
        font-size: 1.85rem;
    }
}
/* TABLET */
@media (max-width:1023px){
    .contacto{
        padding: 3rem 0rem;
    }
    .contact{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .contacto-der{
        order: 1;
        align-items: center;
        flex-basis: 100%;
    }
    .contacto-izq{
        flex-basis: 100%;
    }
    .formulario{
        width: 80vw;
    }
    .contacto-titulo h2{
        font-size: 2.7rem;
    }
    .contactos{
        align-items: center;
    }
    .contactos i,
    .contactos p,
    .contactos a{
        font-size: 1.3rem;
    }
    .contacto-redes i{
        font-size: 1.8rem;
    }
}
@media (max-width:902px) {
    .contacto-titulo h2{
        font-size: 2rem;
    }
    .contactos i,
    .contactos p,
    .contactos a{
        font-size: 1.2rem;
    }
}
@media (max-width: 890px){
    .contact {
    width: 92%;
}
}
@media (max-width: 700px){
    .formulario{
        width: 91vw;
    }
}
/* FIN TABLET */

/* CELULAR */
@media (max-width:614px) {
    .contacto-titulo h2{
        font-size: 1.7rem;
    }
    .contactos i,
    .contactos p,
    .contactos a{
        font-size: 1.1rem;
    }
    .contacto-redes i{
        font-size: 1.5rem;
    }
}
@media (max-width:500px) {
    .formulario{
        height: 20rem;
    }
    .formulario input{
        padding: 1rem 0.6rem;
    }
    input::placeholder,
    textarea::placeholder{
        font-size: 1rem;
    }
    .contacto-titulo h2{
        font-size: 1.5rem;
    }
    .contactos i,
    .contactos p,
    .contactos a{
        font-size: 1rem;
    }
    .contacto-redes i{
        font-size: 1.4rem;
    }
}
@media (max-width:441px) {
    .contacto-titulo h2{
        font-size: 1.3rem;
    }
    .contactos i,
    .contactos p,
    .contactos a{
        font-size: 0.9rem;
    }
    .contacto-redes i{
        font-size: 1.3rem;
    }
}
@media (max-width:376px){
    .contact {
        width: 98%;
    }
    .formulario{
        width: 94vw;
    }
    .contacto-titulo h2{
        font-size: 1.17rem;
    }
}
@media (max-width:340px){
    .formulario input{
        padding: 0.8rem 0.6rem;
    }
    input::placeholder,
    textarea::placeholder{
        font-size: 0.9rem;
    }
}
/* FIN CELULAR */

/* FIN MEDIA-QUERIES CONTACTO */


/* FOOTER */
footer{
    background-color: var(--color-negro);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
}
footer p{
    color: var(--color-blanco);
}
/* FIN FOOTER */

/* MEDIA-QUERIES FOOTER */

/* CELULAR */
@media (max-width: 320px){
    footer p{
        font-size: 0.9rem;
    }
}
/* FIN CELULAR */